@media  screen and (max-width : 650px)
{
    .inner_components
    {
        margin-top:  30px;
        
    }
    
}


.flex-box
{
    display: flex;
    justify-content: center;
    align-items: center;
}







