@media  screen and (max-width : 650px)
{
    .inner_components
    {
        margin-top:  30px;
        
    }
    
}


.flex-box
{
    display: flex;
    justify-content: center;
    align-items: center;
}



@media (min-width :2000px) {
    .LaptopImgSection {
        width: 74rem;
        margin: 0px auto;
    }

}


@media (max-width : 700px) {
    .LaptopImgSection {
        display: none;
    }
}


@media (min-width :2000px) {
    .LaptopImgSection {
        width: 74rem;
        margin: 0px auto;
    }

}


.LaptopImg {
    width: 100%;
}

.LaptopImg img {
    width: 100%;
}






